<div class="mainContainer">
  <div *ngIf="hero">
    <h2>{{hero.name | uppercase}} Details</h2>
    <div>
      <label for="hero-name">Hero name: </label>
      <input id="hero-name"
             class="form-control"
             [(ngModel)]="hero.name"
             placeholder="Hero name" />
    </div>
    <div>
      <label for="hero-name">Hero real : </label>
      <input id="hero-name"
             class="form-control"
             [(ngModel)]="hero.realName"
             placeholder="Hero name" />
    </div>
    <div class="buttons">
      <button type="button"
              (click)="save()">Save</button>
      <button type="button"
              (click)="goBack()">Back</button>
    </div>
  </div>


</div>